@page {
size: 148mm 210mm;
/* marks: crop; */
/* background-color: #e59aff !important; */
}



@page :left {
margin: 10mm 18mm 15mm 15mm;
  /* @bottom-left-corner {
    content: counter(page);
  } */
}

@page :right {
margin: 10mm 15mm 15mm 18mm;
  /* @bottom-right-corner {
    content: counter(page);
  } */
}

@page:first-of-type {
  margin-top: 210mm;
  background-image: url();
  background-repeat:no-repeat;
  background-size: 120%;
}

@page:nth(2) {
  margin-top: 0mm;
  background-image: url(photo-ambiance-foyer-balsa-credit-fanny-arvieu-low.jpg);
  background-size: 115mm 115mm;
  object-fit: cover;
  background-position: 15mm 10mm;
  background-blend-mode: multiply;
}

@page:nth(5) {
  margin-bottom:10pt;
}

@page:nth(7) {
  margin-bottom: 30mm;

}

@page:nth(9) {
  /* margin-top: 0mm; */
  /* background-image: url(photo-amphi-daniele-pierre-low.jpg);
  background-repeat:no-repeat;
  background-size: 120mm 110mm;
  object-fit: cover;
  background-position: 15mm 10mm;
  background-blend-mode: multiply; */
  /* background-position: center; */
  /* margin-bottom: 70mm; */
}

@page:nth(10) {
  margin-top: 40pt;
}

.sans {
  text-indent: -9pt !important;
}


img[alt=passe]{
  width: 55mm;
  height: 55mm;
  object-fit: cover;
  float: left;
  margin-top: 6pt;
  margin-bottom: 40pt;
}

img[alt=present]{
  width: 55mm;
  height: 55mm;
  object-fit: cover;
  float: left;
  margin-top: 6pt;
  margin-left: 9pt;
  margin-bottom: 40pt;
}

img[alt=anni]{
  width: 115mm;
  margin: 9pt 0pt;
}

img[alt=love]{
  /* width: 115mm; */
  margin-right: 9pt;
  margin-left: 3pt;
  margin-top: 9pt;
  float: left;
}

img[alt=pass],
img[alt=lucarne]{
  /* width: 115mm; */
  margin-right: 9pt;
  margin-top: 3pt;
  float: left;
}

img[alt=lucarne]{
  margin-top: 9pt;
}


body {
    font-family: 'Ume P Gothic Balsa';
    font-size : 12pt;
    line-height: 15pt;
    -webkit-print-color-adjust: exact;
}

p {
  margin: 0pt 0pt 0pt 0pt;
}

/* p + p{
  text-indent: 12pt;
  margin: 0pt 0pt 10pt 0pt;
} */

a, a:active {
  text-decoration: underline;
  color: black;
}


.break-before{
  page-break-before: always;
}

.break-after{
  page-break-after: always;
}


h1{
    font-family: 'Ume Straight';
    font-size: 200pt;
    line-height: 39pt;
}
h2{
    font-family: 'UmeHelium';
    font-size: 21pt;
    line-height: 20pt;
}
h2:first-of-type{
  color : transparent;
}
h3{
    font-family: 'Ume Straight';
    font-size: 18pt;
    /* text-transform: uppercase; */
    margin: 12pt 0pt 3pt 0pt;
    line-height: 20pt;
    letter-spacing: -0.03em;
}

h3:first-of-type{
    margin: 0pt 0pt 3pt 0pt;
}

h4 {
  font-family: 'UmeHelium';
  font-size: 31pt;
  line-height: 32pt;
  margin: 6pt 0pt 0pt 0pt;
  letter-spacing: 0.08em;
  border-top: 3px solid black;
  padding-top: 9pt;
}

h4:first-of-type {
  border-top: none;
}

h5 {
  font-family: 'UmeHelium';
  font-size: 200pt;
  margin: -18mm 102mm 44mm 44mm;
  page-break-before: always;
  color: #e59aff ;
}

h6 {
  font-family: 'UmeHelium';
  font-size: 29pt;
}


.edito {
  font-family: 'Ume Mincho Balsa';
  font-size : 13.5pt;
  line-height: 17.5pt;
  margin-right: 9mm;
  margin-bottom: 17.5pt;
  letter-spacing: -0.05em;
  page-break-before: always !important;
}

.edito > p:nth-of-type(1)::first-letter {
  font-family: 'UmeHelium';
  font-size: 85pt;
  line-height: 0pt;
  position: relative;
  margin-top: -35px;
  margin-bottom: -40px;
  float: left;
  height: 0pt;
  padding-right: 9pt;
  margin-left: -5px;
  letter-spacing: 0pt !important;
  page-break-before: always !important;
}

.edito > p:nth-of-type(3){
  text-indent: 0pt;
}

.lettrine {
  font-family: 'UmeHelium';
  font-size: 85pt;
  line-height: 0pt;
  line-height: 0pt;
  position: relative;
  margin-top: 67px;
  margin-bottom: 38px;
  float: left;
  height: 0pt;
  padding-right: 9pt;
  margin-left: -5px;
  letter-spacing: 0pt !important;
}

.calendrier {
  margin-top: 120mm;
  /* color:white !important; */
}

.artiste {
  font-family: 'Ume Mincho Balsa';
  text-transform: uppercase;
}

.up {
  font-family: 'Ume Straight';
}
#new {
  margin-top: 6pt;
}
.frame{
  /* border-top : 3pt solid black; */
  /* border-bottom : 3pt solid black; */
  font-family: 'Ume Straight';
  /* padding : 9pt; */
  margin-top: 12pt;
}


@media print {
* {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
  }
}
